<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- theme meta -->
    <meta name="theme-name" content="phantom" />

    <!-- Essential Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800">
    <link rel="stylesheet" href="~/Admin/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/animate.css">
    <link rel="stylesheet" href="~/Admin/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/Admin/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Admin/plugins/themefisher-fonts/css/themefisher-fonts.min.css">
    <!--------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="~/Home/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/Home/plugins/bootstrap/bootstrap.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Home/plugins/animate-css/animate.css">
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="~/Home/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/Home/plugins/slick-carousel/slick.css">
    <link rel="stylesheet" href="~/Home/plugins/slick-carousel/slick-theme.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Home/css/style.css">
    <!--------------------------------------------------------------------------------------------------->
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Admin/css/style.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="#" id="color-changer">

    <!--Favicon-->
    <link rel="icon" href="~/Admin/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Admin/css/datatables.net-bs4/dataTables.bootstrap4.css">

    <!-------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_2/style.css">

</head>
<body class="dark">
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts",false)


</body>

</html>
